body{
    background-color: lightcoral;
    background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0), rgb(250, 202, 202));
    max-height: unset;
    }

    .div1{
        float: inline-start;
        width: 38%;
        padding: 10px;
    }
    
    img{
        width:30%;
        padding: 5px;
    }

    .div2{
        font-weight: bold;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: x-large;
        text-align: center;
    }

    p{
        padding-bottom: 34px;
    }

        
    .links{
        background-color: whitesmoke;
        box-shadow: 0 2px 0 whitesmoke;
        color: white;
        padding: 1em 1.3em;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        word-spacing: 800px;
        text-align: center;
        font-weight: bold;
    }
        a:link {
            color: crimson;
            text-decoration: none;
        }
        a:visited {
            color:crimson;
            text-decoration: none;
          
    }

/* PHONE VERSION */
@media only screen and
(min-width: 320px) {

}

/* TABLET VERSION */
@media only screen and
(min-width: 768px) {

}

/* DESKTOP VERSION */
@media only screen and
(min-width: 980px) {

}